body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d8eaf0;
}
div,
button {
  font-family: Montserrat;
}
.todo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 20vh;
  border-radius: 8px;
  box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.4);
}
.form-group {
  display: flex;
  margin-top: 12px;
}
button {
  background-color: #b1d4e0;
  border: none;
  padding: 6px 12px 6px 12px;
  margin: 0 5px 0 5px;
  margin-left: 9px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  border: solid 3px #b1d4e0;
  padding: 3px 9px 3px 9px;
  transition: 0.15s background-color ease-in-out;
}
.input-box {
  margin: 8px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 0px 9px 0px 9px;
  font-size: 14px;
  border: 2px solid transparent;
  width: 200px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
}
